doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Custom Object Table
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            h1 Custom Object Table
            
            .actions
                a(href="/update-cobj") Add/Update this table
            
            table
                thead
                    tr
                        th Name
                        th Description
                        th Price
                tbody
                    if records && records.length > 0
                        each record in records
                            tr
                                td= record.name
                                td= record.description
                                td= record.price
                    else
                        tr
                            td(colspan="3", style="text-align: center;") No records found
